{% extends 'fogbow/base.html' %}
{% load i18n %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% endblock page_header %}

{% block fogbow_main %}
	<h1>Fogbow Dashboard</h1>
	<br>
	{% include "horizon/common/my_overview_limit_summary.html" %}
	<br>
	<hr>
	<h4>Federation, opportunism and greenness in private infrastructure-as-a-service clouds through the bartering of wares.</h4>
{% endblock %}
