{% load i18n horizon humanize sizeformat %}

<div class="table_wrapper">
  <h3 class="table_title">{% trans "Summary of resources" %}</h3>
  <br>
  <h4>{% blocktrans with used=cpuInUse %}{{ used }} vCPUs being used{% endblocktrans %}</h4>
  <h4>{% blocktrans with used=memInUse %}{{ used }} GB of RAM being used{% endblocktrans %}</h4>
  <br>
  <!--
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ cpuUsedPercentage }}"></div>
     <strong>{% trans "CPU" %} <br />
         {% blocktrans with used=cpuInUse available=cpuTotal %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
     </strong>
    </div>

    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ memUsedPercentage }}"></div>
    <strong>{% trans "Mem (GB)" %} <br />
     {% blocktrans with used=memInUse available=memTotal %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>
  -->
</div>
