{% load i18n horizon humanize sizeformat %}

<div class="table_wrapper">
  <h3 class="table_title">{% trans "Summary of resources" %}</h3>
  	<br>
  	<div>
  		<h4 class="same-line">Using &nbsp</h4> 
  		<b><div id="totalVCPUResponse" class="same-line red"></div></b>
  		<h4 class="same-line">&nbsp vCPU of &nbsp</h4>
  		<b><div id="totalVCPUAvailableResponse" class="same-line red"></div></b>
  	</div> 
  	<br>
  	<div>
  		<h4 class="same-line">Using &nbsp </h4> 
  		<b><div class="same-line red" id="totalRamResponse"></div></b>
  		<h4 class="same-line">&nbsp GB of RAM of &nbsp</h4>
  		<b><div class="red" id="totalRamAvailableResponse"></div></b>
  	</div> 
  <br>

</div>
	<button class="button button-shadow " id="button_populate">Refresh</button>
	<!-- <button class="button button-shadow " id="button_abort">Abort</button>  --> 	
	<br>
	
<style>
.same-line {
	float: left;
}

.red {
	color: red;
}

.button {
    background-color: #474747; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button-shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

</style>

<script src="../static/dashboard/js/jquery-1.12.0.min.js"></script>
<script type="text/javascript">	
	
	var continueRefresh = true
	
	$(document).find("a").click(function() {
		console.log('clicked');
		continueRefresh = false;
	});
	
	var members = [];
	var totalRamAvailable = 0;
	var totalRam = 0;
	var totalVCPUAvailable = 0;
	var totalVCPU = 0;
	
	function updateMembers(memberLocalStorage) {
		var cont = 0;
		$('#members').find('tr').each(function(indice) {
		    $(this).find('td').each(function(indice) {
		        if (indice == 0) {
		        	var text = $(this).text();
		        	var columnAndLine = "#members__row__" + text.replace(/\./g, '\\.') + " td:eq(7)"
		        	
		        	if (memberLocalStorage == null ) {
			        	$(columnAndLine).text("Loading");
						$(columnAndLine).css('color', 'black');		
		        	} else {
			        	$(columnAndLine).text("Error");
						$(columnAndLine).css('color', 'purple');		        		
		        	}
		        	
		        	members[cont] = text;    	
		        	cont++;
		        }
		    });
		});		
	}	
    
	var tokenToReplace = '#TokenReplace#';
	
    function updateLocalStorage(numberMember, newMemberData) {
    	var localStorageMembers = localStorage.getItem("members");
    	if (localStorageMembers == null || localStorageMembers == 'undefined') {
    		localStorageMembers = newMemberData;
    		localStorage.setItem("members", localStorageMembers);
    		return;
    	}
    	localStorageMembers = localStorageMembers + tokenToReplace + newMemberData;
    	localStorage.setItem("members", localStorageMembers);
    }
    
    function getMemberDataLocalStorage(numberMember) {
    	var localStorageMembers = localStorage.getItem("members");
    	if (localStorageMembers == null || localStorageMembers == 'undefined') {
    		return null;
    	}
    	
    	return localStorageMembers;
    }

    function populateMemberLine(member, jsonData) {
		try {			
			for (var key in jsonData) {
				if (jsonData.hasOwnProperty(key)) {
					if (jsonData[key].length < 9 || key == 7) {
					 	$("#members__row__" + member + " td:eq(" + key + ")").text(jsonData[key]);
					 	
					 	if (key == 1) {
					 		try {
					 			if (totalVCPUAvailable == 'No Limit') {
					 				continue;
					 			}
					 			totalVCPUAvailable = totalVCPUAvailable + parseFloat(jsonData[key]);
					 			$('#totalVCPUAvailableResponse').text(totalVCPUAvailable);
					 		}
					 		catch(err) {}
					 	} else if (key == 2) {
					 		try {			 			
					 			totalVCPU = totalVCPU + parseFloat(jsonData[key]);
					 			$('#totalVCPUResponse').text(totalVCPU);
					 		}
					 		catch(err) {}
					 	} else if (key == 3) {
					 		try {
					 			if (totalRamAvailable == 'No Limit') {
					 				continue;
					 			}							 			
					 			totalRamAvailable = totalRamAvailable + parseFloat(jsonData[key]);
					 			$('#totalRamAvailableResponse').text((totalRamAvailable / 1024).toFixed(1));
					 		}
					 		catch(err) {}						 		
					 	} else if (key == 4) {					 	
					 		try {			 			
					 			totalRam = totalRam + parseFloat(jsonData[key]);
					 			$('#totalRamResponse').text((totalRam / 2014).toFixed(1));
					 		}
					 		catch(err) {}					 		
					 	}
					 	
					} else {
						
				   		$("#members__row__" + member + " td:eq(" + key + ")").text('No Limit');
				   		
					 	if (key == 1) {
					 		totalVCPUAvailable = 'No Limit';
					 		$('#totalVCPUAvailableResponse').text(totalVCPUAvailable);
					 	} else if (key == 3) {		
					 		totalRamAvailable = 'No Limit';
					 		$('#totalRamAvailableResponse').text(totalRamAvailable);
					 	}		   		
				   		
				  	}
			  	}
			}
			columnEl.css('color', 'blue');
		} catch(err) {}
    }
    
	function refreshLine(numberMember) {		
		var text = members[numberMember];
	 	if (text == null || text == 'undefined') {
	 		return;
	 	}
		var cont = numberMember;
		
    	$.ajax({
    	    url: window.location.href + text + '/quota',
    	    type: "GET",
    	    timeout:5000,    	    
    	    success: function(data) {   
    	    	console.log('success');
    	    	console.log(data);

    	    	
    			text = text.replace(/\./g, '\\.');
    			columnEl = $("#members__row__" + text + " td:eq(7)");
				if (data == 'error') {
					columnEl.text('Error');
					columnEl.css('color', 'red');
				} else {
	    	    	var jsonData = JSON.parse(data);
	    	    	var date = new Date();
	    	    	jsonData["7"] = date.toLocaleDateString("en-US") + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();					
					populateMemberLine(text, jsonData);
					console.log(JSON.stringify(jsonData));
					updateLocalStorage(cont, JSON.stringify(jsonData));
				}
				
				if (continueRefresh) {
					refreshLine(++cont);
				}
    	    },
    	    error: function() {
    			columnEl = $("#members__row__" + text + " td:eq(7)"); 
    			columnEl.text('Error');
    			columnEl.css('color', 'red');
    			
				if (continueRefresh) {
					refreshLine(++cont);
				}    			
    	    },
    	});				
	}
	
	$(document).ready(function() {
		var localStorageMembers = localStorage.getItem("members");
		updateMembers(localStorageMembers);
		if (localStorageMembers == null) {
			setTimeout(function(){ refreshLine(0); }, 0);			
		} else {			
			for (i = 0; i < members.length; i++) { 			    
				console.log(JSON.parse(String(localStorageMembers).split(tokenToReplace)[i]));
			    populateMemberLine(members[i].replace(/\./g, '\\.'), JSON.parse(String(localStorageMembers).split(tokenToReplace)[i])) 
			}
		}
	});	
	
	$("#button_populate").click(function() {
		totalRamAvailable = 0;
		totalRam = 0;
		totalVCPUAvailable = 0;
		totalVCPU = 0;
		
		$('#totalVCPUResponse').text("0");
		$('#totalRamResponse').text("0");
		$('#totalVCPUAvailableResponse').text("0");
		$('#totalRamAvailableResponse').text("0");		
		
		$("#button_populate").prop("disabled", true);
		localStorage.clear();
		updateMembers();
		setTimeout(function(){ refreshLine(0); }, 0);
		$("#button_populate").prop("disabled", false);
	});
	
</script>