{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
{% if form.non_field_errors %}
  <div class="alert alert-message alert-error">
    {{ form.non_field_errors }}
  </div>
{% endif %}
{% for field in form.visible_fields %}
  <div class="control-group form-field clearfix{% if field.errors %} error{% endif %} {{ field.css_classes }}">
    {{ field.label_tag }}
    {% if field.errors %}
      {% for error in field.errors %}
        <span class="help-inline">{{ error }}</span>
      {% endfor %}
    {% endif %}
    {% comment %}
    Escape help_text a second time here, to avoid an XSS issue in bootstrap.js.
    This can most likely be removed once we upgrade bootstrap.js past 2.0.2.
    Note: the spaces are necessary here.
    {% endcomment %}
    <span class="help-block">{% filter force_escape %} {{ field.help_text }} {% endfilter %} </span>
    <div class="input">
      {{ field }}
    </div>
  </div>
{% endfor %}

<script src="static/fogbow/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript">

	$('#id_requirements_checkbox').click(function() {
		checkForm();
	});
	
	checkForm = function() {
		var divAdvancedRequirements = findDivForm('id_advanced_requirements');
		var divCpu = findDivForm('id_cpu');
		var divMem = findDivForm('id_mem');
		if($('#id_requirements_checkbox').is(':checked')) {			
			clearChildren(divMem, 'input');
			clearChildren(divCpu, 'input');
			divCpu.hide('slow');
			divMem.hide('slow');
			divAdvancedRequirements.show('slow');
		} else {
			divCpu.show('slow');
			divMem.show('slow');
			clearChildren(divAdvancedRequirements, 'textarea');			
			divAdvancedRequirements.hide('slow');
		}		
	}
	
	findDivForm = function(divName) {
		var result = null;
		$('div .form-field').each(function(item, element) {
			if ($(element).html().indexOf(divName) > 1) {
				result = $(element);	
			}		
		});
		return result;
	};
	
	function clearChildren(element, typesStr) {
		element.children().find(typesStr).each(function(){
			$(this).val('');
		});
	}
	
	$(function() {
		if ($('#id_requirements_checkbox').is(':checked') == false) {
			findDivForm('id_advanced_requirements').hide();
		}
	});	
</script>