{% load i18n horizon humanize sizeformat %}

<div class="quota-dynamic">
  <h3>{% trans "Resource Summary" %}</h3>
    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ cpuUsedPercentage }}"></div>
     <strong>{% trans "CPU" %} <br />
         {% blocktrans with used=cpuInUse available=cpuTotal %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
     </strong>
    </div>

    <div class="d3_quota_bar">
    <div class="d3_pie_chart" data-used="{{ memUsedPercentage }}"></div>
    <strong>{% trans "MEM" %} <br />
     {% blocktrans with used=memInUse available=memTotal %}Used <span> {{ used }} </span> of <span> {{ available }} </span>{% endblocktrans %}
    </strong>
    </div>
</div>
